<div class="card">
  <h5 class="card-header">Agendar buque</h5>
  <div class="card-body">
    <form [formGroup]="scheduleVesselForm" (ngSubmit)="onSubmit()">
      <div class="clearfix">
        <div class="form-group">
          <label for="vessel"><b><span class="text-danger">*</span>Buque:</b></label>
          <nz-select id="vessel" nzShowSearch nzAllowClear nzPlaceHolder="Seleccione un buque"
            formControlName="vesselId" nzNotFoundContent="No hay opciones" (ngModelChange)="handleSelectChange()">
            <nz-option *ngFor="let vessel of vessels" [nzLabel]="vessel.vesselName + ' - ' + vessel.vesselCode"
              [nzValue]="vessel.vesselId">
            </nz-option>
          </nz-select>
          <span
            *ngIf="scheduleVesselForm.get('vesselId').touched && scheduleVesselForm.get('vesselId').hasError('required')"
            class="text-danger">El buque es requerido.</span>
        </div>
        <div class="form-group">
          <label for="date"><b><span class="text-danger">*</span>Fecha de llegada:</b></label>
          <nz-date-picker id="date" formControlName="date" (ngModelChange)="handleDateChange($event)"
            [nzDisabledDate]="disabledDate" nzPlaceHolder="Seleccione una fecha" nzSize="large"></nz-date-picker>
          <span *ngIf="scheduleVesselForm.get('date').touched && scheduleVesselForm.get('date').hasError('required')"
            class="text-danger">La descripción es requerida.</span>
        </div>
        <button class="btn btn-primary" type="submit">Agendar</button>
      </div>
    </form>
  </div>
</div>
