<div class="crossfade">
  <figure></figure>
  <figure></figure>
  <figure></figure>
  <figure></figure>
  <figure></figure>
  <figure></figure>
  <figure></figure>
</div>
​
<div class="container-fluid">
  <div class="row justify-content-center align-items-center responsive-mobile">
    <div class="card card-size bg-primary">
      <div class="card-body">
        <div class="text-center pt-8 pb-16 mb-2">
          <img width="60px" src="" alt="logo" class="mb-n2">
          <h1 class="text-brand m-0">PopApp</h1>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
