<div class="row mb-3">
  <div class="col-md-9 col-sm-12">
    <h1 id="tableLabel">Consulta de Documentos</h1>
  </div>
  <div class="col-md-3 col-sm-12 d-flex justify-content-end">
    <button *ngIf="isAdmin" class="btn btn-sm p-0 icon-size-lg" (click)="openDialog()">
      <span nz-tooltip nzTooltipTitle="Agregar nuevo documento de buque">
        <i nz-icon nzType="plus-circle" nzTheme="twotone" [nzTwotoneColor]="'#52c41a'"></i>
      </span></button>
  </div>
</div>

<dx-data-grid id="gridContainer" [noDataText]="'No hay datos para mostrar'" [dataSource]="documentData"
  [allowColumnReordering]="true" [columnHidingEnabled]="true" [rowAlternationEnabled]="true" [columnAutoWidth]="false"
  [showBorders]="false" [allowColumnResizing]="true" (onExporting)="onExport()">

  <dxo-group-panel [visible]="true" [emptyPanelText]="'Arrastre columnas aquí para agrupar'">
  </dxo-group-panel>
  <dxo-grouping [autoExpandAll]="false" [texts]="groupPanelTexts"></dxo-grouping>

  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [visible]="true" [showInfo]="true" [infoText]="'Página {0} de {1} ({2} registros)'"
    [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>

  <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true" placeholder="Buscar..." [width]="300">
  </dxo-search-panel>

  <dxo-export [enabled]="true" fileName="{filename}"
    [texts]="{exportAll: 'Exportar a Excel'}">
  </dxo-export>

  <dxi-column dataField="documentTitle" caption="Título" [hidingPriority]="0"></dxi-column>

  <dxi-column caption="Imagen" cellTemplate="image" [hidingPriority]="0"></dxi-column>
  <div *dxTemplate="let data of 'image'">
    <div class="row d-flex justify-content-center align-items-center">
      <button class="btn btn-link" (click)="handleImageClick(data.data.documentImage, data.data.documentTitle)">
        <img [src]="data.data.documentImage" class="documents-grid-image">
      </button>
    </div>
  </div>

  <dxi-column dataField="documentDescription" caption="Descripción" [hidingPriority]="0"></dxi-column>

</dx-data-grid>
