<div class="card">
  <div class="card-header text-center text-white bg-primary"> Company Form</div>
  <div class="card-body">
  
    <form [formGroup]="companyForm" (ngSubmit)="createCompany()">
      <div class="form-group">
        <input nz-input placeholder="Nombre de la Compañia" formControlName="companyName" />
        <span class="bg-danger text-white" *ngIf="companyForm.controls.companyName.hasError('required')">El nombre es requerido</span>
      </div>
      <div class="form-group">
        <input nz-input placeholder="Codigo de la Compañia" formControlName="companyCode" />
        <span class="bg-danger text-white" *ngIf="companyForm.controls.companyCode.hasError('required')">El Codigo es requerido</span>
      </div>
      <div class="form-group">
        <input nz-input placeholder="Email de la Compañia" formControlName="companyEmail" />
        <span class="bg-danger text-white" *ngIf="companyForm.controls.companyEmail.hasError('required')">El Email es requerido</span>
      </div>
      <div class="form-group">
        <input nz-input placeholder="Direccion de la Compañia" formControlName="companyAdress" />
        <span class="bg-danger text-white" *ngIf="companyForm.controls.companyAdress.hasError('required')">La Direccion es requerido</span>
      </div>
      <div class="form-group">
        <input nz-input placeholder="Telefono de la Compañia" formControlName="companyPhone" />
        <span class="bg-danger text-white" *ngIf="companyForm.controls.companyPhone.hasError('required')">La Telefono es requerido</span>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" [disabled]="!companyForm.valid">Enviar</button>
      </div>
    </form>
  </div>
</div>
