<div class="card">
  <div class="card-header text-white text-center bg-primary">Freigth Form</div>
  <div class="card-body">

    <form [formGroup]="freigthForm" (ngSubmit)="createFreigth()">
      <div class="form-group">
        <input nz-input placeholder="Nombre de la Carga" formControlName="freigthCode" />
        <span class="bg-danger text-white" *ngIf="freigthForm.controls.freigthCode.hasError('required')">El Code es requerido</span>
      </div>
      <div class="form-group">
        <input nz-input placeholder="Tipo de la Carga" formControlName="freigthType" />
        <span class="bg-danger text-white" *ngIf="freigthForm.controls.freigthType.hasError('required')">El Tipo es requerido</span>
      </div>
      <div class="form-group">
        <input nz-input placeholder="Nombre de la Carga" formControlName="freigthWeigth" />
        <span class="bg-danger text-white" *ngIf="freigthForm.controls.freigthWeigth.hasError('required')">El Peso es requerido</span>
      </div>
      <div class="form-group">
        <textarea nz-input placeholder="Descripcion de la Carga" formControlName="freigthDescription" nzAutosize></textarea>
        <span class="bg-danger text-white" *ngIf="freigthForm.controls.freigthDescription.hasError('required')">El Peso es requerido</span>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" [disabled]="!freigthForm.valid">send</button>
      </div>
    </form>
  </div>
</div>
