<div class="card">
  <h5 class="card-header">Nuevo buque</h5>
  <div class="card-body">

    <form [formGroup]="vesselForm" (ngSubmit)="createVessel()">
      <div class="form-group">
        <input nz-input placeholder="Nombre del buque" formControlName="vesselName" />
        <span class="text-danger" *ngIf="vesselForm.controls.vesselName.hasError('required') && vesselForm.controls.vesselName.dirty">
          El nombre es requerido
        </span>
      </div>
      <div class="form-group">
        <input nz-input placeholder="Codigo del buque" formControlName="vesselCode" />
        <span class="text-danger" *ngIf="vesselForm.controls.vesselCode.hasError('required') && vesselForm.controls.vesselCode.dirty">
          El Codigo es requerido
        </span>
      </div>
      <div class="form-group">
        <input nz-input placeholder="Imo del buque" formControlName="vesselImo" />
        <span class="text-danger" *ngIf="vesselForm.controls.vesselImo.hasError('required') && vesselForm.controls.vesselImo.dirty">
          El Imo es requerido
        </span>
      </div>
      <div class="form-group">
        <input nz-input placeholder="Bandera del Buque" formControlName="vesselFlag" />
        <span class="text-danger" *ngIf="vesselForm.controls.vesselFlag.hasError('required') && vesselForm.controls.vesselFlag.dirty">
          La Bandera es requerido
        </span>
      </div>
      <div class="form-group">
        <input nz-input placeholder="Slora del buque" formControlName="vesselSlora" />
        <span class="text-danger" *ngIf="vesselForm.controls.vesselSlora.hasError('required') && vesselForm.controls.vesselSlora.dirty">
          El Slora es requerido
        </span>
      </div>
      <div class="form-group">
        <input nz-input placeholder="Procedencia del buque" formControlName="vesselArrival" />
        <span class="text-danger" *ngIf="vesselForm.controls.vesselArrival.hasError('required') && vesselForm.controls.vesselArrival.dirty">
          La Procedencia es requerido
        </span>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" [disabled]="!vesselForm.valid">Guardar</button>
      </div>
    </form>

  </div>
</div>


