<div class="row">
  <div class="col-12">
    <nz-skeleton [nzActive]="true" [nzLoading]="isLoading">
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel *ngFor="let scheduleContainerFreigth of scheduleContainerFreigths"
          [expanded]="currentFreigth === scheduleContainerFreigth.freigth.freigthId"
          (opened)="handlePanelExpansionToggle(scheduleContainerFreigth.freigth.freigthId)" hideToggle
          [disabled]="!scheduleContainerFreigth.freigth.isActive">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Código carga: {{scheduleContainerFreigth.freigth.freigthCode}}
            </mat-panel-title>
            <mat-panel-description>
              {{scheduleContainerFreigth.freigth.freigthDescription}}
            </mat-panel-description>
            <span *ngIf="isUser">
              <mat-icon
                *ngIf="scheduleContainerFreigth.evaluationStatus === evaluationStatuses.Approved"
                class="text-success">check_circle</mat-icon>
              <mat-icon
                *ngIf="scheduleContainerFreigth.evaluationStatus === evaluationStatuses.Reported"
                class="text-danger">highlight_off</mat-icon>
            </span>
          </mat-expansion-panel-header>
          <app-schedule-add-product [freigthId]="scheduleContainerFreigth.id"></app-schedule-add-product>
          <mat-action-row *ngIf="isUser && scheduleContainerFreigth.evaluationStatus === evaluationStatuses.None">
            <button class="btn btn-sm btn-danger" type="button" (click)="reportFreigth(scheduleContainerFreigth.id)">Reportar</button>&nbsp;&nbsp;
            <button class="btn btn-sm btn-success" type="button" (click)="approveFreigth(scheduleContainerFreigth.id)">Aprobar</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </nz-skeleton>
  </div>
</div>