
<div class="card">
  <div class="card-header text-center text-white bg-primary"> User Form</div>
  <div class="card-body">

    <form [formGroup]="userForm" (ngSubmit)="createUser()" >
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>userName</mat-label>
          <input matInput placeholder="Ex. San Francisco" formControlName="UserName">
          <mat-error *ngIf="userForm.controls.companyAdress.hasError('required')">
            userName is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="Ex. San Francisco" formControlName="Email">
          <mat-error *ngIf="userForm.controls.Email.hasError('required')">
            Email is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Ex. San Francisco" formControlName="Password">
          <mat-error *ngIf="userForm.controls.Password.hasError('required')">
            Password is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>User Role</mat-label>
          <input matInput placeholder="Ex. San Francisco" formControlName="UserRole">
          <mat-error *ngIf="userForm.controls.UserRole.hasError('required')">
            User Role is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" [disabled]="!userForm.valid">Send</button>
      </div>
    </form>


  </div>
</div>


