<nz-skeleton [nzActive]="true" [nzLoading]="isLoading">
  <div class="row mb-3" *ngIf="vessel">
    <div class="col-md-9 col-sm-12">
      <h1 class="m-0">Contenedores buque: {{vessel.vesselName}}</h1>
    </div>
    <div class="col-md-3 col-sm-12 d-flex justify-content-end">
      <button *ngIf="isAdmin" class="btn btn-sm p-0 icon-size-lg" (click)="openSelectContainerDialog()">
        <span nz-tooltip nzTooltipTitle="Agregar nuevo contenedor">
          <i nz-icon nzType="plus-circle" nzTheme="twotone" [nzTwotoneColor]="'#52c41a'"></i>
        </span></button>
    </div>
  </div>

  <dx-data-grid id="gridContainer" [noDataText]="'No hay datos para mostrar'" [dataSource]="scheduleContainers"
    keyExpr="id" [allowColumnReordering]="true" [columnHidingEnabled]="true" [rowAlternationEnabled]="true"
    [columnAutoWidth]="false" [showBorders]="true" [allowColumnResizing]="true" [focusedRowEnabled]="true"
    [(focusedRowKey)]="focusedRowKey" [autoNavigateToFocusedRow]="true"
    (onFocusedRowChanging)="onFocusedRowChanging($event)">

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [visible]="true" [showInfo]="true" [infoText]="'Página {0} de {1} ({2} registros)'"
      [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>

    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true" placeholder="Buscar..." [width]="300">
    </dxo-search-panel>

    <dxo-export [enabled]="true" fileName="{filename}" [texts]="{exportAll: 'Exportar a Excel'}">
    </dxo-export>

    <dxi-column dataField="container.containerType" caption="Tipo" [hidingPriority]="0"></dxi-column>

    <dxi-column dataField="container.containerPayload" caption="Payload" [hidingPriority]="0"></dxi-column>

    <dxi-column dataField="container.containerCapacity" caption="Capacidad" [hidingPriority]="0"></dxi-column>

    <dxi-column dataField="container.containerLenth" caption="Largo" [hidingPriority]="0"></dxi-column>

    <dxi-column dataField="container.containerWidth" caption="Ancho" [hidingPriority]="0"></dxi-column>

    <dxi-column dataField="container.containerHeigth" caption="Alto" [hidingPriority]="0"></dxi-column>
  </dx-data-grid>

  <hr>

  <div class="row mt-3">
    <div class="card col-12 d-flex justify-content-center p-0">
      <div class="card-header d-flex align-items-center justify-content-between">
        <span>
          <h5 class="m-0">Carga contenedor</h5>
        </span>
        <span *ngIf="isAdmin">
          <button class="btn btn-sm p-0 icon-size-md" type="button" (click)="openFreigthDialog()">
            <span nz-tooltip nzTooltipTitle="Agregar nueva carga">
              <i nz-icon nzType="plus-circle" nzTheme="twotone" [nzTwotoneColor]="'#52c41a'"></i>
            </span>
          </button>
        </span>
      </div>
      <div class="card-body">
        <nz-skeleton [nzActive]="true" [nzLoading]="freigthIsLoading">
          <app-achedule-add-freigth [containerId]="focusedRowKey"></app-achedule-add-freigth>
        </nz-skeleton>
      </div>
    </div>
  </div>
</nz-skeleton>