.documents-grid-image {
  width: 75px;
  height: 100px;
}

.documents-grid-image:hover {
  outline: none;
  border-color: #1b6ec2;
  box-shadow: 0 0 10px #1b6ec2;
}

.btn.btn-link {
  padding: 0px !important;
}
